body {
    overflow-x: hidden;
}

#headBar {
    background-color: rgba(0,0,0,0.8);
}

ul {
    list-style: none;
}

li {
    height: 600px;
}

#leftNewsCol {
    background-color: #A3CEFE;
    background-size: cover;
}

#centerNewsCol {
    background-color: white;
    background-size: cover;
}

#rightNewsCol {
    background-color: #FE7E7E;
    background-size: cover;
}

div {
    font-family: Raleway;
    font-size: 1rem;
    letter-spacing: 5px;
    padding-top: 5px;
    color: rgba(0, 0, 0, 0.7);
}

#leftImage {
    width: 30%;
}

#centerImage {
    width: 30%;
}

#rightImage {
    width: 30%;
}

.thumbnail {
    width: 100%;
}

div #headPhoto {
    /*background-image: url("images/01.jpg");*/
    background-size: cover;
    height: 570px;
    background-color: rgba(0, 0, 0, 0.05);
}

.carSpan {
    padding: 20px;
    font-size: 1.5rem;
    font-family: Arial;
    color: rgba(0, 0, 0, 0.5);
}

a:link {
    color: rgba(0,0,0,.8);
}
a:visited {
    color: rgba(0,0,0,.3);
}
a:hover {
    color: rgba(0,0,0,.6)!important;
    text-decoration: none!important;
}

#myCarousel {
    overflow: hidden;
}

.spanDiv {
    max-width: 900px;
}



.carouselImg {
    margin: 0 auto;
    height: 400px;
}


.carousel .item {}

.carousel-control {
    background-image: none !important;
    filter: none !important;
    progid: none !important;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    top: 50%;
    bottom: 50%;

}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    position: fixed;

}


.carousel-inner>.item {
    /*disables white flash*/
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}
